.contatos{
  box-shadow: inset 0px -40px 40px #000;
  background-color: #131313;
  color: #F5F5F5;
  padding-top: 5px; 
  text-align: center;
  margin-top: 6%;
  
}
footer img{
  width: 50px;
  
   
}
.contatos ul{
  display: inline-flex;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 30px;
  

}
footer li{
  margin-right: 40px;
  list-style: none;
  margin-bottom: 10%;
}