.cursos{
  text-align: center;
}
.principal{
  color: #53AFE2;
  display: inline-flex;
  
}
.caixa{
  background-color: #131313;
  color: #F5F5F5;
  margin: 20px;
  padding: 50px;
  width: 280px;
  border-radius: 10%;
}